body{
    margin:0;
    font-family:Poppins,sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:black;
}

.hero{
    text-align:center;
    padding:180px 20px;
    background:linear-gradient(to right,#6a11cb,#2575fc);
    color:white;
}

.hero h1{
    font-size:50px;
}

.hero button{
    padding:15px 35px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    margin-top:20px;
    font: size 16px;
}

.hero button:hover{
    background:black;
    color:white;
}

.features{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:50px;
}

.box{
    width:220px;
    text-align:center;
    padding:25px;
    border-radius:15px;
    box-shadow:0px 5px 20px rgba(0,0,0,0.15);
}

.box i{
    font-size:35px;
    color:#2575fc;
}

.box:hover{
    transform:translateY(-5px);
}

footer{
    text-align:center;
    background:#111;
    color:white;
    padding:15px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    .hero h1{
        font-size:35px;
    }

    .features{
        flex-direction:column;
        align-items:center;
    }

}